* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #ecf2f8;
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  #layout-grid-container {
    padding: 5% 3%;
  }
  #layout-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
  }
  #layout-2 {
    background-color: #48556a;
    color: #ffffff;
  }
  #layout-3,
  #layout-5 {
    background-color: #ffffff;
    color: #48556a;
  }
  #layout-4 {
    background-color: #19212e;
    color: #ffffff;
  }
  .grid-items {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
  }
  .grid-items p {
    opacity: 70;
  }
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
  }
  .header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
  }
  .header.name {
    opacity: 100%;
    font-size: 1rem;
  }
  .grid-items h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  #quote{
    position: absolute;
    right: 15%;
    top: 0;
    z-index: -1;
  }

  @media (min-width: 567px) {
    #layout-grid-container,
    #main-left,
    #top,
    #bottom {
      display: flex;
    }

    #layout-grid-container {
      max-width: 1440px;
      margin: 0 auto;
      justify-content: space-between;
    }
    #layout-5 {
      flex-basis: 20%;
    }
    #main-left {
      flex-direction: column;
      flex-basis: 78%;
    }
    #top,
    #bottom {
      flex-basis: 50%;
      justify-content: space-between;
    }
    #layout-1,
    #layout-4 {
      flex-basis: 63%;
    }
    #layout-2,
    #layout-3 {
      flex-basis: 35%;
    }
  }